<div class="entire">
<div>
  <app-main-nav></app-main-nav>
</div>
  <!-- <div>
  <app-main-nav>

  </app-main-nav>
</div> -->
  
 <!--  
<div class="menu">
    <a href="#" class="menu-link">
      <span class="hamburger-icon">
        <span class="hamburger-bar hamburger-bar-1"></span>
        <span class="hamburger-bar hamburger-bar-2"></span>
        <span class="hamburger-bar hamburger-bar-3"></span>
      </span>
    </a>
</div>
-->


<!-- <div class="calender"*ngFor="let date of dates"> -->
  <!--  
<form action="#">
    Date:
    <input type="date" name="date">
    <input type="submit">
</form>
</div>-->


<div>
<app-dateselector></app-dateselector>
</div>

<hr>
<div class="cards-container">
<div class="card" *ngFor="let class of classes">
  <div class="details">
    <h1>{{class.time}} {{class.year}}</h1>
    <p class="branch">Branch:{{class.branch}}</p>
    <p class="sem">Sem:{{class.sem}}</p>
  </div>
  <div class="buttons">
    <button (click)='onClick()'>ATTENDANCE</button>
  </div>
</div>
</div>


</div>

