.container .datepicker .datelist {
    display: flex;
    overflow-x: scroll;
   
   
}

.date-select {
    padding: 1rem 1.75rem;
    text-align: center;
    background-color: #fff;
    margin: 0 0.1rem;
    
    border-radius:6px;

}

.date-select .small {
    font-size: medium;
   
}

.date-select .large {
    font-size: x-large;
   
}

.date-select .margin-top {
    margin-top: 0.5rem;
  
}

.datepicker .picker-section {
    margin-bottom: 1rem;  
    color: rgb(148, 203, 235);
}
.datepicker .picker-section .picker-input {
    background-color: transparent;
border:none;
    text-align: right;
    font-size: large;
    color:rgb(148, 203, 235);
}
mat-datepicker-toggle{
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(148, 203, 235);
}
