<div id="container">
    <div> 
        <div class="imageContainer">
            <img class="img_container" [src]="imageUrl">
        </div>
        <div class="editPicture">
            <button class="edit_picture" mat-raised-button (click)="openDialog()">EDIT PICTURE</button>
        </div>
    </div>
    <form id="form" (submit)="userDetails($event)">
        <div id="Name">
            <input class="name" type="text" placeholder="Name" id="userName">
        </div>
        <div id="Email">
            <input class="email" type="email" placeholder="Email ID" id="Email_id">
        </div>
        <div id="PhoneNo">
            <input class="phno" type="number" placeholder="Phone Number" id="phone_no">
        </div>
        
        <div id="Gender">
            <select class="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <div id="City">
            <select class="city" required>
                <option class="current_city" value="" disabled selected hidden >Current City</option>
                <option value="mangalore">Mangalore</option>
                <option value="bangalore">Bangalore</option>
                <option value="mysore">Mysore</option>
            </select>
        </div>
        <div id="Save">
            <button class="save" type="submit" (click)="onSave()">SAVE</button>
        </div>
    </form>
</div>