<body class="align">
    <div class="head">
        <h1>Forgot Password</h1>
    </div>

    <div class="grid">

        <form class="form login">
            <div class="form__field">
                <input [(ngModel)]='email_id' id="login__username" type="text" name="email_id" class="form__input" placeholder="Email address" required>
            </div>
            <div class="buttons">
                <div class="form__field" id="container2">
                    <input (click)='onClick()' type="submit" value="Reset Password" id="login">
                </div>
            </div>

        </form>
    </div>
</body>