.container{
    height:100%;
    width: 100%;

text-align: center;
/* padding-left:600px; */

}
.profile{

    border-radius: 50px;
    width: 100px;
    height: 100px;
    /* padding-left: 600px; */

}
.edit{
 /* height: 200px; */
}
.name{
     /* border: none; */
     /* border-bottom: 1px solid #fff; */
     /* background: transparent; */
     /* outline: none; */
     width: 50%;
     height: 40px;
     /* color: rgb(27, 16, 16); */
     font-size: 13px;
      /* padding: 15px 5px; */ 
     box-sizing: border-box; 
     /* padding-left: 600px; */
     /* border: 2px solid rgb(29, 15, 15); */

}
.email{
    /* border-bottom: 1px solid #fff; */
    /* background: transparent; */
    /* outline: none; */
    height: 40px;
    width: 50%;
    /* color: rgb(27, 19, 19); */
    font-size: 13px;
    padding: 15px 5px;
    box-sizing: border-box;
    /* padding-left: 600px; */
    /* border-color:antiquewhite; */
    /* border: 2px solid rgb(24, 9, 9); */

}
.pass{
     /* border: none; */
     /* border-bottom: 1px solid #fff; */
     /* background: transparent; */
     /* outline: none; */
     height: 40px;
     width: 50%;
     /* color: rgb(27, 16, 16); */
     font-size: 13px;
     padding: 15px 5px;
     box-sizing: border-box;
     /* padding-left: 600px;  */
     /* border: 2px solid rgb(29, 15, 15); */

}
.number{

    /* border-bottom: 1px solid #fff; */
    /* background: transparent; */
    /* outline: none; */
    height: 40px;
    width: 50%;
    /* color: rgb(27, 19, 19); */
    font-size: 13px;
    padding: 15px 5px;
    box-sizing: border-box;
    /* padding-left: 600px; */
    /* border-color:antiquewhite; */
    /* border: 2px solid rgb(24, 9, 9); */
}
.gender{
    width: 50%;
    /* border: none; */
    /* border-bottom: 1px solid #fff; */
    /* background: transparent; */
    /* outline: none; */
    height: 40px;
    /* color:#fff; */
    /* padding: 15px 5px; */
    font-size: 13px;
    /* padding-left: 600px; */
    /* border: 2px solid rgb(22, 11, 11); */

}
.city{
     /* border: none; */
     /* border-bottom: 1px solid #fff; */
     /* background: transparent; */
     /* outline: none; */
     height: 40px;
     width: 50%;
     /* color: rgb(27, 16, 16); */
     font-size: 13px;
     padding: 1px 5px;
     /* padding-left: 600px; */
     box-sizing: border-box; 
     /* border: 2px solid rgb(29, 15, 15); */

}
.column{
    width: 50%;
    height: 40px;
    /* box-sizing: border-box; */
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #4b8deb;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 15px;
    color:#fff;
    /* padding-left: 600px; */
}
.column:hover{
    background: #1a4ae9;
    opacity: 0.7;

}
.container input:focus,
.gender select:focus{
    border-color: #e66554;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.0125),
        
    0 0 8px rgba(76,161,175,0.5);
}