<div class="menu">
    <a href="#" class="menu-link">
        <span class="hamburger-icon">
        <span class="menu open hamburger-bar hamburger-bar-1"></span>
        <span class="menu open hamburger-bar hamburger-bar-2"></span>
        <span class="menu open hamburger-bar hamburger-bar-3"></span>
        </span>
    </a>
</div>

<div class="menu-overlay">
    <div class="overlay-menu">
        <ul class="one">
            <li><a class="nav-links" href="#">Home</a></li>
            <li><a class="nav-links" href="#">About</a></li>
            <li><a class="nav-links" href="#">Work</a></li>
            <li><a class="nav-links" href="#">Contact</a></li>
        </ul>
        <div>
            <ul>
                <li class="display-inline"><a class="social-round-icon" href="#"><i class="fa fa-codepen"></i></a></li>
                <li class="display-inline"><a class="social-round-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="display-inline"><a class="social-round-icon" href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </div>
    </div>
</div>